<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addStaffServlet</servlet-name>
  	<display-name>addStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.addStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StaffServlet</servlet-name>
  	<display-name>StaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.StaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<display-name>ProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProductServlet</servlet-name>
  	<display-name>EditProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<display-name>DeleteProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProductServlet</servlet-name>
  	<display-name>UpdateProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GalleryServlet</servlet-name>
  	<display-name>GalleryServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.GalleryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditStaffServlet</servlet-name>
  	<display-name>EditStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.EditStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStaffServlet</servlet-name>
  	<display-name>DeleteStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacilityServlet</servlet-name>
  	<display-name>FacilityServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.FacilityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OfferServlet</servlet-name>
  	<display-name>OfferServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.OfferServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerGalleryServlet</servlet-name>
  	<display-name>CustomerGalleryServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.CustomerGalleryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addStaffServlet</servlet-name>
  	<url-pattern>/addStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StaffServlet</servlet-name>
  	<url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProductServlet</servlet-name>
  	<url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProductServlet</servlet-name>
  	<url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GalleryServlet</servlet-name>
  	<url-pattern>/GalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditStaffServlet</servlet-name>
  	<url-pattern>/EditStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStaffServlet</servlet-name>
  	<url-pattern>/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacilityServlet</servlet-name>
  	<url-pattern>/FacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OfferServlet</servlet-name>
  	<url-pattern>/OfferServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerGalleryServlet</servlet-name>
  	<url-pattern>/CustomerGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>
