<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addStaffServlet</servlet-name>
  	<display-name>addStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.addStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StaffServlet</servlet-name>
  	<display-name>StaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.StaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<display-name>ProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProductServlet</servlet-name>
  	<display-name>EditProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<display-name>DeleteProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProductServlet</servlet-name>
  	<display-name>UpdateProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GalleryServlet</servlet-name>
  	<display-name>GalleryServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.GalleryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditStaffServlet</servlet-name>
  	<display-name>EditStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.EditStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStaffServlet</servlet-name>
  	<display-name>DeleteStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacilityServlet</servlet-name>
  	<display-name>FacilityServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.FacilityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OfferServlet</servlet-name>
  	<display-name>OfferServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.OfferServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerGalleryServlet</servlet-name>
  	<display-name>CustomerGalleryServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.CustomerGalleryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StaffLoginServlet</servlet-name>
  	<display-name>StaffLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StaffLoginservlet</servlet-name>
  	<display-name>StaffLoginservlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.StaffLoginservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationServlet</servlet-name>
  	<display-name>ReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewServlet</servlet-name>
  	<display-name>ReviewServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ReviewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<display-name>CartServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderListServlet</servlet-name>
  	<display-name>OrderListServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmReservationServlet</servlet-name>
  	<display-name>ConfirmReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ConfirmReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteReservationServlet</servlet-name>
  	<display-name>DeleteReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.DeleteReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderDetailsServlet</servlet-name>
  	<display-name>OrderDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.OrderDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcessPaymentServlet</servlet-name>
  	<display-name>ProcessPaymentServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ProcessPaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmOrderServlet</servlet-name>
  	<display-name>ConfirmOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubscriptionServlet</servlet-name>
  	<display-name>SubscriptionServlet</display-name>
  	<description></description>
  	<servlet-class>com.res.controller.SubscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addStaffServlet</servlet-name>
  	<url-pattern>/addStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StaffServlet</servlet-name>
  	<url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProductServlet</servlet-name>
  	<url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProductServlet</servlet-name>
  	<url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GalleryServlet</servlet-name>
  	<url-pattern>/GalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditStaffServlet</servlet-name>
  	<url-pattern>/EditStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStaffServlet</servlet-name>
  	<url-pattern>/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacilityServlet</servlet-name>
  	<url-pattern>/FacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OfferServlet</servlet-name>
  	<url-pattern>/OfferServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerGalleryServlet</servlet-name>
  	<url-pattern>/CustomerGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StaffLoginServlet</servlet-name>
  	<url-pattern>/StaffLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StaffLoginservlet</servlet-name>
  	<url-pattern>/StaffLoginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationServlet</servlet-name>
  	<url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewServlet</servlet-name>
  	<url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderListServlet</servlet-name>
  	<url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmReservationServlet</servlet-name>
  	<url-pattern>/ConfirmReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteReservationServlet</servlet-name>
  	<url-pattern>/DeleteReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderDetailsServlet</servlet-name>
  	<url-pattern>/OrderDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessPaymentServlet</servlet-name>
  	<url-pattern>/ProcessPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmOrderServlet</servlet-name>
  	<url-pattern>/ConfirmOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubscriptionServlet</servlet-name>
  	<url-pattern>/SubscriptionServlet</url-pattern>
  </servlet-mapping>
</web-app>
